{% extends "base.html.twig" %}

{% block javascripts %}
 <script type="text/javascript">

$(document).ready(function(){
    $(function(){
        $('form').submit(function(e){
            e.preventDefault();
            var form = $("#formularios");
            
            var post_url = "{{ path('tipoTest') }}";
            console.log(post_url);
            //post_url = 'p1.php';
            var post_data = form.serialize();
            $(form).html('Corrigiendo...');

            $.ajax({
                type: 'POST',
                url: post_url,
                data: post_data,
                success: function(msg) {
                    $("#formulario").fadeOut(750, function(){
                        form.html(msg).fadeIn().delay(1500);
                    });
                }
            });
        });
    });
});

 </script>

{% endblock %}

<div id="formulario" >
    
    <h1>{{ preguntas }}</h1>

<br><br>
    
    <div class="row">
        <div class="center" data-toggle="buttons">
            <div class="col-md-6">
                  <label class="btn btn-info btn-circle btn-lg funkyradio"><input type="radio" name="q1" value="Si" id="boton"><i class="glyphicon glyphicon-ok"></i></label>
            </div>
            <div class="col-md-6" id="divrojo">
                  <label class="btn btn-danger funkyradio btn-circle btn-lg botonrojo"><input type="radio" name="q1" value="No" id="boton1"><i class="glyphicon glyphicon-remove"></i></label>
            </div>
        </div>
    </div>
</div>