{% extends 'base.html.twig' %}

{% block body %}

<!-- Aquí empieza la actividad Compilador -->
<div class="row">
    
    <div class="col-sm-2"></div>

    <form>
        
    <div class="col-sm-8">
    <h3 class="nivel">JAVA Level 1</h3>
    <h1 class="actividad">Activity 03</h1>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

    <h3 class="elegir">Code here</h3>
    <h2>¡Let's code!</h2>


<br><br>
    
    <!-- Insertar aquí código de el compilador -->

    <textarea  rows="10" cols="50"></textarea>
    <button class="btn btn-sm btn-warning" type="button">See Result »</button>
    <textarea  rows="10" cols="50"></textarea>

    <!-- Se acaba el compilador -->
<br><br>
        
        <div class="derecha">
            <a href="#" class="btn btn-lg btn-default ">Skip</a>
            <input type="submit" value="Send" class="btn btn-lg btn-warning" />
        </div>
</div>

    </form>

<div class="col-sm-2"></div>

</div>
</div>

{% endblock %}