{% extends 'base.html.twig' %}

{% block body %}
    <h1>Esto es el índice.</h1>
    <ul class="nav navbar-nav">
        <li><a href="{{ 
        url('homepage') 
        }}">Home</a>
        </li>
        
        <li><a href="{{ 
        url('compilator') 
        }}">Compilador</a>
        </li>
        
        <li><a href="{{ 
        url('testType') 
        }}">Tipo Test</a>
        </li>
        
        <li><a href="{{ 
        url('verdaderofalso') 
        }}">Verdadero y falso</a>
        </li>
        
        <br>

        </ul>
{% endblock %}