{% extends 'base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">

var contador=1;

$(document).ready(function(){
    //ESTA ES LA COMPROBACION! PARA JOUSEP
    if(contador >= 10){
        
        $("#submits").fadeOut(750, function(){
            $("#finalizar").css('visibility', 'visible').fadeIn(1500);
        });
        
    }else{
        $("#contador").html("Pregunta "+contador+" de 10");
    }
    
    $(function(){
        $('form').submit(function(e){
            e.preventDefault();
            var form = $("#formularios");
            
            var post_url = "{{ path('trueFalso') }}";
            console.log(post_url);
            //post_url = 'p1.php';
            var post_data = form.serialize();

            $.ajax({
                type: 'POST',
                url: post_url,
                data: post_data,
                success: function(msg) {
                    contador++;
                    
                    $("#formulario").fadeOut(750, function(){
                        form.html(msg).fadeIn().delay(1500);
                        //ESTA TAMBE ES LA COMPROBACIÓ!!!
                        if(contador >= 10){
        
                            $("#submits").fadeOut(750, function(){
                                $("#finalizar").css('visibility', 'visible').fadeIn(1500);
                            });
                            
                        }else{
                            $("#contador").html("Pregunta "+contador+" de 10");
                        }
                        
                    });
                }
            });
        });
    });
});

</script>

{% endblock %}

{% block body %}

<div class="wrapper">

<!-- Aquí empieza la actividad Verdadero/falso -->
<div class="row">
    <div class="col-sm-2"></div>
    
<div class="col-sm-8">
    <h3 class="nivel">JavaScript Level 1</h3>
    <h1 class="actividad">Activity 03</h1>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

    <h3 class="elegir">True or False?</h3>

    <form>
        
    <div id="formularios">
    </div>
        
<div id="formulario" >
    
    <h1>{{ preguntas }}</h1>

<br><br>
    
    <div class="row">
        <div class="center" data-toggle="buttons">
            <div class="col-md-6">
                  <label class="btn btn-info btn-circle btn-lg funkyradio"><input type="radio" name="q1" value="Si" id="boton"><i class="glyphicon glyphicon-ok"></i></label>
            </div>
            <div class="col-md-6" id="divrojo">
                  <label class="btn btn-danger funkyradio btn-circle btn-lg botonrojo"><input type="radio" name="q2" value="No" id="boton1"><i class="glyphicon glyphicon-remove"></i></label>
            </div>
        </div>
    </div>
</div>

    <div id="submits" class="derecha">
        <a href="#" class="btn btn-lg btn-default ">Skip</a>
        <input id="skip" type="submit" value="Send" class="btn btn-lg btn-warning" />
    </div>
    
    <div id="finalizar" class="derecha">
        <a href="#" class="btn btn-lg btn-success" >Finish</a>
    </div>

    </form>
    <div id="contador">
        
    </div>
    <span id="bien">
        <img id="bien" src="{{asset("img/tickCorrecto.png")}}" />
    </span>
    
    <span id="mal">
        <img id="mal" src="{{asset("img/equisMal.png")}}" />
    </span>
    
</div>

<div class="col-sm-2"></div>

</div>

{% endblock %}